.col-md-4 > img {
    width: 140px;
    height:140px;
}

/** Top area **/

.header, a {
    padding: 1vw;
}

.header, form {
    padding: 1vw;
}

.header, li {
    padding: 1vw;
}

.navbar {
    background-image: linear-gradient(90deg,#d87e46, #fab78d);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    filter: drop-shadow(0 4px 6px rgba(0,0,0,0.3));
}

/**Selectable Product Categories**/

.menu-text-layer {
    display: inline-block;
    padding: 6px 12px;
    background: #eab66d;
    border-radius: 6px;
    color: #000000;
}

/**Personalized Gifting**/

.gift-btn {
    border-radius: 10px;
    background-image: url("../printokids_images/gift_TEMP.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: scale(1.03);
    transform-origin: center;
}


.gift-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  transform-origin: center;
}

/**tote bags selection**/

.tote-btn {
    border-radius: 10px;
    background-image: url("../printokids_images/totebag_TEMP.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: scale(1.03);
    transform-origin: center;
}

.tote-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  transform-origin: center;
}

/**Booth Selection*/

.booth-btn {
    border-radius: 10px;
    background-image: url("../printokids_images/booth_TEMP.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
    
    transition: transform 0.3s ease, filter 0.3s ease;
    transform: scale(1.03);
    transform-origin: center;
}

.booth-btn:hover {
  transform: translateY(-2px);
  transform: scale(1.05);
  transform-origin: center;
}


.news, p button {
   padding: 0.5vw; 
}

a {
    text-decoration: none;
}

#carouselExampleInterval .carousel-item {
  height: 500px;
}

#carouselExampleInterval .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 20px;
}

.title {
    margin: 20px;
}

/** Footer **/

.footer {
    background-image: 
        linear-gradient(
            90deg,
            #d87e46 50%,
            #f68f4fb0 60%,
            #eab66d33 80% 
        ),
        url("../printokids_images/Printokids1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
}

.footer-content {
    padding-left: 10%;
    padding-right: 10%;
}

.back-to-top-btn a{
    font-size: 20px;
    padding-top: 10px;
    color: #466d49;;
}

.back-to-top-btn a:hover {
    color: black;
    text-decoration: underline;
}

.very-bottom {
    padding: 20px;
}
