.col-md-4 > img {
    width: 140px;
    height:140px;
}

/** Top area **/

.header, a {
    padding: 1vw;
}

.header, form {
    padding: 1vw;
}

.header, li {
    padding: 1vw;
}

.navbar {
    background-image: linear-gradient(10deg, #FFF9C4, #eab66d);
}

.news, p button {
   padding: 0.5vw; 
}

a {
    text-decoration: none;
}

#carouselExampleInterval .carousel-item {
  height: 500px;
}

#carouselExampleInterval .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 20px;
}

.title {
    margin: 20px;
}

body {
    padding-top: 140px;
}

.back-button {
    padding: 30px;
    font-size: 20px;
}



